@import "main";
@import "header";
@import "dashboard";

main {
  padding: 50px 50px 0;
}

.chat .container-fluid {
  height: 100%;
}

.row {
  height: 100%;
}

.chat-list {
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid $grey;
  flex-basis: 350px;
  min-width: 300px;
}

.search {
  display: flex;
  position: relative;
  border-bottom: 2px solid $grey;
  padding: 0 10px 10px 10px;

  input {
    border: 0;
    flex-grow: 1;
    min-width: 180px;
    padding-left: 30px;
    height: 2rem;
    color: $text-muted;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .search-icon {
    position: absolute;
    top: 5px;
    font-size: 1.5rem;
    z-index: 1;
    color: $text-muted-light;
  }

  .write {
    background-color: $primary-color;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    // position: relative;

    i {
      position: relative;
      top: 3px;
      right: 3px;
      font-size: 1.2rem;
      line-height: 1rem;
    }
  }
}

.chat-detail {
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-basis: 60%;
}
.contacts {
  height: 70vh;
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 15px;
}

.contact-card {
  border-bottom: 1px solid $grey;
  padding: 10px;
  align-items: center;

  .middle-part {
    flex-grow: 1;
  }
  .contact-img {
    height: 50px;
    flex-basis: 0 1 50px;
    border-radius: 10px;
    margin-right: 20px;
  }

  .contact-name {
    font-size: 0.8rem;
    position: relative;
    flex-grow: 1;

    font-weight: 600;
    .right {
      position: absolute;
      right: 0;
      font-size: 0.7rem;
      color: $text-muted-light;
    }
  }

  .contact-message {
    font-size: 0.8rem;
  }
}

.parent {
  display: flex;
  flex-wrap: nowrap;
}

.w-60-100 {
  flex: 1 0;
}
