@import "colors";
// Changing bootstrap breakpoints, base on: https://stackoverflow.com/questions/47747208/bootstrap-4-change-breakpoints
// File: theme.scss
// Override default BT variables:
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1024px
);

// Import BT sources
@import "../../node_modules/bootstrap/scss/bootstrap";
// Your CSS (SASS) rules here...

button {
  border: 0;
}

body {
  font-family: "open-sans", sans-serif;
  color: $text-normal;
  padding: 0;
}

.text-muted-light-understroke {
  border-bottom: 2px solid lighten($text-muted-light, 15);
}

.text-muted-understroke {
  border-bottom: 2px solid lighten($text-muted, 2);
}

.light-grey-bg {
  background-color: $light-grey;
}

.text-normal {
  color: $text-normal;
}

.text-normal-light {
  color: $text-normal-light;
}

.text-muted {
  color: $text-muted;
}

.text-muted-light {
  color: $text-muted;
}

.text-muted-alt {
  color: $text-muted-alt;
}

.text-muted-alt:hover {
  color: $text-muted-alt;
  text-decoration: none;
}

.border-right-custom-muted-light {
  border-right: 2px solid $text-muted-light;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px 10px;
}

.secondary-glow {
  box-shadow: rgba($secondary-color, 0.4) 0 0 8px 2px;
}

.primary-glow {
  box-shadow: rgba($primary-color, 0.4) 0 0 8px 2px;
}

.inset-shadow {
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.1);
}

.bg-secondary-custom {
  background-color: $secondary-color;
}

.bg-primary-custom {
  background-color: $primary-color;
}

.fg-color-primary {
  color: $primary-color;
}

.fg-color-secondary {
  color: $secondary-color;
}

.primary-button {
  background-color: $primary-color;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    // position: relative;
    font-size: 1.2rem;
    line-height: 1rem;
  }
}

.container-fluid {
  max-width: 1500px;
}
