@import "main";
$actions-height: 15vh;

body {
  font-family: "open-sans", sans-serif;
}

main {
  display: flex;
  height: calc(100vh - #{$actions-height});
  flex-direction: column;
  padding: 15px;
  background-image: linear-gradient(#fff 50%, rgba(0, 0, 0, 0.07));
}

header {
  justify-content: space-between;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 5vw;
}

.header-icon {
  font-size: 8vw;
  color: $text-normal;
}

header img {
  height: 8vw;
}

.next-people {
  justify-content: space-between;
  width: 100%;
}

.person {
  border-radius: 20px;
  flex: 1 0 calc(18% - 10px);
  height: auto;
  margin: 5px;
}

.current-person {
  flex: 0.5 calc(10% - 10px);
  margin: 5px;
}

.main-picture {
  flex-grow: 1;
  background: url(../resources/profile-6.jpg);
  background-size: cover;
  background-position: center center;
  margin-bottom: 80px;
  border-radius: 20px;
  margin-top: 10px;
  position: relative;
}

.picture-count {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  top: 30px;
}

.picture-count > * {
  width: 13px;
  height: 13px;
  margin-bottom: 5px;
  background-color: #aaa;
  border-radius: 3px;
}

.picture-count > *:nth-child(2) {
  background-color: $secondary-color;
}

.person-info {
  height: 100px;
  margin: 0 auto;
  width: 80%;
  left: 10%;
  bottom: -50px;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 -5px 10px -5px $primary-color;
}

.person-text {
  padding: 20px;
}

.name {
  color: $text-normal;
  font-size: 0.9rem;
  font-weight: 700;
}

.city {
  color: $text-muted;
  font-size: 0.8rem;
  font-weight: 700;
}

.learn-more {
  background-color: rgba(0, 0, 0, 0.01);
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 -5px 2px -5px #ddd;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: $text-muted-alt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  height: $actions-height;
  background-color: white;
}
