@import "scroll";

.person,
.current-person {
  display: inline-block;
}

.person {
  flex: 0 0 75px;
  width: 75px;
  height: auto;
  margin-right: 5px;
  border-radius: 10px;
}

.next-people {
  height: 82px;
  overflow-y: scroll;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0;
  margin-bottom: 20px;

  @include thin-scroll-bar;
}

.current-person {
  margin: 5px;
  align-items: center;
  position: relative;

  .see-more {
    justify-content: right;
    position: relative;
    left: 20px;
    font-size: 2.5rem;
  }

  .close {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    background-color: $secondary-color;
    opacity: 1;
    border-radius: 50%;
    position: relative;
    right: 28px;
  }
}
