@import 'scroll';

.person,
.current-person {
  display: inline-block;
}

.person {
  border-radius: 10px;
  flex: 0 0 75px;
  height: auto;
  margin-right: 5px;
  width: 75px;
}

.next-people {

  /* stylelint-disable at-rule-no-unknown */
  @include thin-scroll-bar;

  flex-grow: 0;
  flex-shrink: 1;
  height: 82px;
  margin-bottom: 20px;
  min-width: 0;
  overflow-y: scroll;
  /* stylelint-enable at-rule-no-unknown */
}

.current-person {
  align-items: center;
  margin: 5px;
  position: relative;

  .see-more {
    font-size: 2.5rem;
    justify-content: right;
    left: 20px;
    position: relative;
  }

  .close {
    background-color: $secondary-color;
    border-radius: 50%;
    flex: 0 0 20px;
    height: 20px;
    opacity: 1;
    position: relative;
    right: 28px;
    width: 20px;
  }
}
