header {
  font-size: 1rem;
  font-weight: 900;
  height: 8vw;
  justify-content: space-between;
}

.header-icon {
  color: $text-normal;
  font-size: 8vw;
}

@media (min-width: 800px) {
  header {
    height: 64px;
  }

  .header-icon {
    font-size: 64px;
  }
}

header img {
  height: 90%;
  position: relative;
  top: 4px;
}

header .left {
  bottom: 5px;
  position: relative;
}

header .right i {
  color: $text-muted-light;
  font-size: 1.7rem;
}

header .right .f-2 {
  font-size: 2rem;
  position: relative;
  top: 0.15rem;
}

@media screen and (min-width: 1024px) {
  header {
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px 10px;
    padding: 20px;
  }

  header img {
    height: 40px;
  }
}

header .left i {
  background-color: rgb(0, 0, 0, 0.02);
  border-radius: 3px;
  color: $text-muted;
  padding: 5px;
  position: relative;
  top: 0.3rem;
}
