/* stylelint-disable at-rule-no-unknown */
@mixin no-scroll-bar() {
  /* stylelint-enable at-rule-no-unknown */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

/* stylelint-disable at-rule-no-unknown */
@mixin thin-scroll-bar() {
  scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0);
  /* stylelint-enable at-rule-no-unknown */
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}
