@import "main";
@import "header";
@import "dashboard";
@import "chat_detail";
@import "scroll";

main {
  padding: 0;
}

@media (min-width: 1024px) {
  main {
    padding: 50px 50px 0;
  }
}

.chat {
  border-radius: 10px;
}

.chat .container-fluid {
  height: 100%;
  padding: 0;
}

.row {
  height: 100%;
}

.chat-left {
  flex-basis: 350px;
  min-width: 300px;
  border-right: 2px solid $grey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
}

.top-small,
.bottom-small {
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  padding: 20px;
  background-color: white;
}

.search {
  position: relative;
  display: flex;
  height: 56px;
  padding: 0 10px 10px 10px;
  border-bottom: 2px solid $grey;

  input {
    font-size: 0.8rem;
    font-weight: 600;
    flex-grow: 1;
    min-width: 180px;
    height: 2rem;
    padding-left: 30px;
    color: $text-muted;
    border: 0;
  }

  .search-icon {
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    top: 5px;
    color: $text-muted-light;
  }

  .primary-button {
    position: absolute;
    top: 0;
    right: 15px;
  }
}

.bottom-small {
  .primary-button {
    position: relative;
    bottom: 20px;
    width: 50px;
    height: 50px;
    box-shadow: rgba($primary-color, 0.4) 0 0 8px 2px;
  }

  .primary-button:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.3);
  }

  .icon-big {
    font-size: 2rem;
  }
}

.win-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.win-title-icon {
  font-size: 2rem;
}

.contacts {
  @include no-scroll-bar;
}

.chat-detail-middle {
  @include thin-scroll-bar();
}

.contacts,
.chat-detail-middle {
  overflow-y: scroll;
  flex-grow: 1;
  flex-shrink: 1;
  height: 65vh;
  min-height: 430px;
  padding-right: 15px;
  padding-left: 5px;
  border-bottom: 1px solid white;
}

.contact-card {
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $grey;

  .middle-part {
    flex-grow: 1;
  }

  .contact-img {
    flex-basis: 0 1 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 10px;
  }

  .contact-name {
    font-size: 0.8rem;
    font-weight: 600;
    position: relative;
    flex-grow: 1;

    .right {
      font-size: 0.7rem;
      position: absolute;
      right: 0;
      color: $text-muted-light;
    }
  }

  .contact-message {
    font-size: 0.8rem;
  }
}

@media (max-width: 1024px) {
  .contacts,
  .chat-left,
  .chat {
    border-radius: 0;
    background-color: transparent;
  }

  .contacts {
    height: 86vh;
  }

  .contact-card {
    margin: 10px;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 5px 5px;
  }
}

.parent {
  display: flex;
  flex-wrap: nowrap;
}

.w-60-100 {
  flex: 1 0;
}

.chat-bottom {
  height: 60px;
  background-color: red;
}

.chat-bottom-button {
  flex-grow: 1;
  border: 0;
  border-top: 1px solid #eee;
  background-color: white;
}

.chat-bottom-button:nth-child(1) {
  border-right: 1px solid #eee;
}

.chat-bottom-button:nth-child(2) {
  border-right: 1px solid #eee;
}

.chat-bottom-button:hover {
  background-image: linear-gradient(#f9f9f9, #fff);
}

.chat-bottom .selected {
  border-top: 2px solid $primary-color;
  border-bottom: 1px solid #eee;
  background-image: linear-gradient(#f9f9f9, #fff);
}
