@import 'main';
@import 'header';
@import 'dashboard';
@import 'chat_detail';
@import 'scroll';

main {
  padding: 0;
}

@media (min-width: 1024px) {
  main {
    padding: 50px 50px 0;
  }
}

.chat {
  border-radius: 10px;
}

.chat .container-fluid {
  height: 100%;
  padding: 0;
}

.row {
  height: 100%;
}

.chat-left {
  background-color: $white;
  border-bottom-left-radius: 10px;
  border-right: 2px solid $grey;
  border-top-left-radius: 10px;
  flex-basis: 350px;
  min-width: 300px;
}

@media (max-width: 1024px) {
  .top-small,
  .bottom-small {
    align-items: center;
    background-color: $white;
    justify-content: space-between;
    padding: 20px;
  }
}

.search {
  border-bottom: 2px solid $grey;
  display: flex;
  height: 56px;
  padding: 0 10px 10px;
  position: relative;

  input {
    border: 0;
    color: $text-muted;
    flex-grow: 1;
    font-size: 0.8rem;
    font-weight: 600;
    height: 2rem;
    min-width: 180px;
    padding-left: 30px;
  }

  .search-icon {
    color: $text-muted-light;
    font-size: 1.5rem;
    position: absolute;
    top: 5px;
    z-index: 1;
  }

  .primary-button {
    position: absolute;
    right: 15px;
    top: 0;
  }
}

.bottom-small {
  .primary-button {
    bottom: 20px;
    box-shadow: rgba($primary-color, 0.4) 0 0 8px 2px;
    height: 50px;
    position: relative;
    width: 50px;
  }

  .primary-button:hover {
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
  }

  .icon-big {
    font-size: 2rem;
  }
}

.win-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.win-title-icon {
  font-size: 2rem;
  height: 2rem;
}

.contacts {
  /* stylelint-disable at-rule-no-unknown */
  @include no-scroll-bar;

  /* stylelint-enable at-rule-no-unknown */
}

@media (max-width: 1024px) {
  .chat-detail {
    height: 100vh;
  }

  .chat-left {
    height: 100vh;
  }
}

.chat-detail-middle {
  /* stylelint-disable at-rule-no-unknown */
  @include thin-scroll-bar();

  /* stylelint-enable at-rule-no-unknown */
}

.contacts,
.chat-detail-middle {
  border-bottom: 1px solid $white;
  flex-grow: 1;
  flex-shrink: 1;
  height: 65vh;
  min-height: 430px;
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 15px;
}

.contact-card {
  align-items: center;
  border-bottom: 1px solid $grey;
  padding: 10px;

  .middle-part {
    flex-grow: 1;
  }

  .contact-img {
    border-radius: 10px;
    flex-basis: 0 1 50px;
    height: 50px;
    margin-right: 20px;
  }

  .contact-name {
    flex-grow: 1;
    font-size: 0.8rem;
    font-weight: 600;
    position: relative;

    .right {
      color: $text-muted-light;
      font-size: 0.7rem;
      position: absolute;
      right: 0;
    }
  }

  .contact-message {
    font-size: 0.8rem;
  }
}

@media (max-width: 1024px) {
  .contacts,
  .chat-left,
  .chat {
    background-color: transparent;
    border-radius: 0;
  }

  .contacts {
    height: 86vh;
  }

  .contact-card {
    background-color: $white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 5px 5px;
    margin: 10px;
    padding: 15px 10px;
  }
}

.parent {
  flex-wrap: nowrap;
  height: 100vh;
  overflow: hidden;
}

.w-60-100 {
  flex: 1 0;
}

.chat-bottom {
  height: 60px;
}

.chat-bottom-button {
  background-color: $white;
  border: 0;
  border-top: 1px solid #eee;
  flex-grow: 1;
}

.-bottom-button:nth-child(1) {
  border-right: 1px solid #eee;
}

.chat-bottom-button:nth-child(2) {
  border-right: 1px solid #eee;
}

.chat-bottom-button:hover {
  background-image: linear-gradient(#f9f9f9, #fff);
}

.chat-bottom .selected {
  background-image: linear-gradient(#f9f9f9, #fff);
  border-bottom: 1px solid #eee;
  border-top: 2px solid $primary-color;
}
