@import 'main';
@import 'header';
@import 'dashboard';
@import 'carroussel';
@import 'scroll';

main {
  padding: 0;
}

// Override flex default behavior to allow shrinking past it's content width
.detail {
  min-height: 600px;
  min-width: 0;
}

.detail-left {
  flex-basis: 400px;
  flex-grow: 1.5;
  max-width: 700px;
  min-width: 0;
}

@media (min-width: 1024px) {
  main {
    padding: 50px 50px 0;
  }
}

@media (max-width: 1024px) {
  .detail {
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .detail-right {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 20px;
    max-width: 400px;
  }
}

@media (max-width: 1024px) {
  .detail {
    flex-wrap: wrap;
  }

  .detail-right {
    height: 100vh;
    min-width: 0;
    width: 100%;
  }

  .detail-left {
    max-width: 100%;
  }
}

$actions-height: 10vh;

.text-muted-alt {
  color: $text-muted-alt;
}

body {
  font-family: 'open-sans', sans-serif;
  margin: 0;
  padding: 0;
}

.person-carroussel {
  height: 100px;
}

.main-picture {
  align-content: center;
  align-items: center;
  background: url('../resources/profile-6.jpg');
  background-position: center center;
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  justify-items: center;
  position: relative;
}

@media (max-width: 1024px) {
  .main-picture {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 70vh;
  }
}

@media (min-width: 1024px) {
  .main-picture {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.top-0 {
  left: 10px;
  position: absolute;
  top: 10px;
}

.back-arrow {
  font-size: 2.5rem;
}

.picture-count {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  top: 30px;
}

.picture-count > * {
  background-color: #aaa;
  border-radius: 3px;
  height: 13px;
  margin-bottom: 5px;
  width: 13px;
}

.picture-count > *:nth-child(2) {
  background-color: $secondary-color;
}

$actions-height: 100px;

.actions {
  align-items: center;
  align-self: flex-end;
  bottom: -$actions-height/2;
  display: flex;
  height: $actions-height;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  width: 90%;

  .before-button {
    position: relative;
    right: 5px;
  }
}

.actions i {
  color: $text-muted-alt;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
}

.actions > .button-action {
  align-items: center;
  background-color: $white;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px;
  color: rgba(0, 0, 0, 0.1);
  display: flex;
  height: 50px;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  width: 50px;
}

.actions > .button-action:hover {
  transform: scale(1.2);
}

.actions > .button-action:nth-child(2),
.actions > .button-action:nth-child(3) {
  height: 70px;
  width: 70px;
}

.actions > .button-action:nth-child(2) {
  background-color: $primary-color;
  color: rgba($primary-color, 0.3);
}

.actions > .button-action:nth-child(3) {
  background-color: $secondary-color;
  color: rgba($secondary-color, 0.3);
}

.title {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 10px;
}

.become-popular {
  .icon {
    align-self: center;
    background-image: url('../resources/icons.png');
    background-size: 300px 150px;
    flex: 0 0 65px;
    height: 60px;
    margin-right: 20px;
    width: 65px;
  }

  .sub-title {
    font-size: 0.8rem;
  }
}

.filter-search {
  .material-icons {
    font-size: 2rem;
  }
}

.kind-of {
  color: $text-muted;
  font-size: 1rem;
  font-weight: 600;
}

.actual-info {
  color: $text-normal-light;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .profile-info {
    margin-top: $actions-height/2;
    padding: 0 20px;

    .kind-of {
      font-size: 0.75rem;
    }

    .actual-info {
      color: $text-normal;
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 1024px) {
  .profile-info {
    border-radius: 10px;
    padding: 20px;

    .primary-button {
      height: 40px;
      width: 40px;

      .material-icons {
        font-size: 1.4rem;
      }
    }
  }
}

.profile-info > div {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .custom-sticky-top {
    padding-top: 20px;
    position: sticky;
  }
}

.gift {
  display: flex;
  padding: 20px;
}

.bold {
  font-weight: 600;
}

.gift-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 20px;
}

.gift-text .kind-of {
  color: #bbb;
  font-weight: 400;
}

.icon-holder {
  align-self: center;
  flex: 0 0 105px;
  height: 105px;
  position: relative;
}

.gift-icon {
  background: url(../resources/icons.png) -380px 0;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.7) translate(-40%, -25%);
  width: 150px;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.gift-button {
  background-color: $primary-color;
  border: 0;
  border-radius: 10px;
  font-size: 1.1rem;
  height: 50px;
  margin: 0 auto;
  width: calc(100%);
}
